@model LogicaNegocio.DTO.CitaMedicaDTO

@{
    ViewData["Title"] = "Editar Cita";
}

<h1>Editar Cita</h1>

<form asp-action="EditarCita">
    <div class="form-group">
        <label asp-for="Detalles"></label>
        <textarea asp-for="Detalles" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

