
@{
    ViewData["Title"] = "Index";
}
@{
    ViewData["Title"] = "Login";
    if (ViewBag.Mensaje != null)
    {
        if (ViewBag.TipoMensaje == "ERROR")
        {
            <div class="alert alert-danger" role="alert">@ViewBag.Mensaje</div>
        }
        else if (ViewBag.TipoMensaje == "EXITO")
        {
            <div class="alert alert-success" role="alert">@ViewBag.Mensaje</div>
        }

    }
}

<h1>Index</h1>

<div id="notificationBlock" class="alert alert-info" role="alert">
    Active las notificaciones para recibir avisos y recordatorios importantes
    <button class="btn btn-primary" onclick="suscribirse()">Aceptar</button>
    <button class="btn btn-secondary" onclick="hideNotificationBlock()">No ahora</button>
</div>


<form id="subscriptionForm" asp-controller="Notificacion" asp-action="GuardarDispositivoNotificacion" method="post" style="display: none;">
    <input type="text" id="endpoint" name="pushEndpoint">
    <input type="text" id="p256dh" name="pushP256DH">
    <input type="text" id="auth" name="pushAuth">
</form>

<h1>VISTA Recepcionista</h1>


