@{
    ViewData["Title"] = "Cerrar Sesión";
    Layout = null; // Si tenemos un layout general, tenemos que cambiar esto por el nombre del layout
}
@{
    ViewData["Title"] = "Login";
    if (ViewBag.Mensaje != null)
    {
        if (ViewBag.TipoMensaje == "ERROR")
        {
            <div class="alert alert-danger" role="alert">@ViewBag.Mensaje</div>
        }
        else if (ViewBag.TipoMensaje == "EXITO")
        {
            <div class="alert alert-success" role="alert">@ViewBag.Mensaje</div>
        }

    }
}

<body>
    <div class="logout-container">
        <h3>Cerrar Sesión</h3>
        <form asp-action="CerrarSesion" method="post">
            <label for="NombreUsuario">Nombre de Usuario</label>
            <input type="text" id="NombreUsuario" name="NombreUsuario" required />

            <label for="Contrasenia">Contraseña</label>
            <input type="password" id="Contrasenia" name="Contrasenia" required />

            <button type="submit">Cerrar Sesión</button>
        </form>
    </div>
</body>
