@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}






<form asp-action="Acceder" asp-controller="Totem" method="post">
    
    <div class="form-group col-lg-6">
        <label for="cedula" name="cedula">Ingrese Numero de cedula sin puntos ni guiones</label>
        <input name="cedula" class="form-control" type="text" required />
    </div>

    <input class="btn btn-primary" type="submit" value="Ingresar" />

</form>