
@{
}
 <div class="row contenedorHomeUsuario">

    <div class="col-3 col-md-2 text-white contenedorListadoHomeUsuario d-flex flex-column align-items-center justify-content-between">
        <div class="mb-3">

            <h3 class="h3HomeUsuario">Menú</h3>
            <ul class="list-unstyled listadoNavHomeUsuario">
                <li><a asp-action="HomeUsuario" asp-route-cedula="@ViewBag.CedulaUsuario" class="text-white"><i class="fas fa-calendar-alt"></i> Agenda</a></li>
                <li><a asp-action="PreguntasParaTotem" asp-route-cedula="@ViewBag.CedulaUsuario" class="text-white"><i class="fas fa-question-circle"></i> Preguntas</a></li>
                <li><a asp-action="Mapa" asp-route-cedula="@ViewBag.CedulaUsuario" class="text-white"><i class="fas fa-map-marker-alt"></i> Mapa</a></li>
            </ul>
        </div>
        <div>
            <ul class="list-unstyled listadoNavHomeUsuario ">
                <li><a href="@Url.Action("CerrarAcceso", "Totem")" class="text-white"><i class="fas fa-sign-out-alt"></i>Salir</a></li>
            </ul>
        </div>
    </div>
    <div class="col-9 col-md-10 contenedorContenidoHomeUsuario">
        <div id="time" class="alert alert-danger" role="alert"></div>
        <div id="map-container">


            <img src="~/images/MapaTeleton.jpg" class="mapaTeleton" alt="Mapa de Teleton" id="mapaTeleton">

            <div class="consultorio consultorio1" id="consultorio1" data-info="Información del Consultorio 1" data-clase-cons="consultorio1"></div>
            <div class="consultorio consultorio2" id="consultorio2" data-info="Información del Consultorio 2" data-clase-cons="consultorio2"></div>
            <div class="consultorio consultorio3" id="consultorio3" data-info="Información del Consultorio 3" data-clase-cons="consultorio3"></div>
            <div class="consultorio consultorio4" id="consultorio4uno" data-info="Información del Consultorio 4" data-clase-cons="consultorio4"></div>
            <div class="consultorio consultorio4" id="consultorio4dos" data-info="Información del Consultorio 4" data-clase-cons="consultorio4"></div>
            <div class="consultorio consultorio5" id="consultorio5uno" data-info="Información del Consultorio 5" data-clase-cons="consultorio5"></div>
            <div class="consultorio consultorio5" id="consultorio5dos" data-info="Información del Consultorio 5" data-clase-cons="consultorio5"></div>
            <div class="consultorio consultorio6" id="consultorio6uno" data-info="Información del Consultorio 6" data-clase-cons="consultorio6"></div>
            <div class="consultorio consultorio6" id="consultorio6dos" data-info="Información del Consultorio 6" data-clase-cons="consultorio6"></div>
            <div class="consultorio consultorio6" id="consultorio6tres" data-info="Información del Consultorio 6" data-clase-cons="consultorio6"></div>
            <div class="consultorio consultorio6" id="consultorio6cuatro" data-info="Información del Consultorio 6" data-clase-cons="consultorio6"></div>
            <div class="consultorio consultorio7" id="consultorio7uno" data-info="Información del Consultorio 7" data-clase-cons="consultorio7"></div>
            <div class="consultorio consultorio7" id="consultorio7dos" data-info="Información del Consultorio 7" data-clase-cons="consultorio7"></div>
            <div class="consultorio consultorio7" id="consultorio7tres" data-info="Información del Consultorio 7" data-clase-cons="consultorio7"></div>
        </div>
        <div id="info-box"></div>

    </div>
</div>




<script src="~/js/timerAcceso.js"></script>
<script src="~/js/Mapa.js"></script>

<form asp-action="Index" id="formCerrarSesionAutomaticamente"></form>