@{
    string tipoUsuario = "";
    string usuario = "";
   
    if (!String.IsNullOrEmpty(Context.Session.GetString("TIPO")))
    {
        tipoUsuario = Context.Session.GetString("TIPO");
    }
    if (!String.IsNullOrEmpty(Context.Session.GetString("USR")))
    {
        usuario = Context.Session.GetString("USR");
    }

   
   
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppTeleton</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppTeleton.styles.css" asp-append-version="true" />
</head>

<body>
    @if (tipoUsuario != "TOTEM")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppTeleton</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            @if (!String.IsNullOrEmpty(usuario))
                            {
                          
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Perfil">Perfil</a>
                            </li>
                                
                            }
                            @if (tipoUsuario == "ADMIN")
                            {

                            }
                            @if (tipoUsuario == "RECEPCIONISTA")
                            {
                                
                            }
                            @if (tipoUsuario == "RECEPCIONISTA" || tipoUsuario == "ADMIN")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Citas" asp-action="Index">Agenda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="ListadoUsuarios" asp-route-tipoUsuario="PACIENTE">Usuarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Notificacion" asp-action="EnviarAvisos">Enviar Notificaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="PreguntasFrecuentes" asp-action="PreguntasFrecuentes">Preguntas Frecuentes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="AdministracionBot">Administrar BOT</a>
                                </li>
                            } 
                            

                            @if (tipoUsuario == "RECEPCIONISTA" || tipoUsuario == "PACIENTE")
                            {
                                
                            
                            <li class="nav-item">
                                   <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Chat">Asistencia</a>
                             </li>
                            
                            }
                            
                          
                            @if (tipoUsuario == "PACIENTE")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Citas" asp-action="Index">Agenda</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Paciente" asp-action="NotificacionesPaciente">Notificaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Paciente" asp-action="Mapa">Mapa Teleton</a>
                                </li>
                               
                            }

                            @if (!String.IsNullOrEmpty(usuario))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Logout">Cerrar Sesión</a>
                                </li>

                                <li>Bienvenido @usuario</li>
                            }
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
    }
    else //cosas del totem
    {

        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Totem" asp-action="Sesiones">Sesiones de totem</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Totem" asp-action="Accesos">Accesos de totem</a>
                </li>
            </nav>
        </header>

    }
    <div class="container">
        <main role="main" class="pb-3">

            @if (tipoUsuario == "RECEPCIONISTA" || tipoUsuario == "PACIENTE")
            {
                 <div id="notificationBlock" class="alert alert-info" role="alert">
                Active las notificaciones para recibir avisos y recordatorios importantes
                <button class="btn btn-primary" onclick="suscribirse()">Aceptar</button>
                <button class="btn btn-secondary" onclick="hideNotificationBlock()">No ahora</button>
                 </div>
            
           
            <form id="subscriptionForm" asp-controller="Notificacion" asp-action="GuardarDispositivoNotificacion" method="post" style="display: none;">
                <input type="text" id="endpoint" name="pushEndpoint">
                <input type="text" id="p256dh" name="pushP256DH">
                <input type="text" id="auth" name="pushAuth">
                </form>
            }

            @RenderBody()
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (tipoUsuario == "RECEPCIONISTA" || tipoUsuario == "PACIENTE")
            {
        <script>
            document.addEventListener("DOMContentLoaded", function () { verSiEsconderMensajeNotificacion() });
    </script>
            }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
