@model LogicaNegocio.DTO.CitaMedicaDTO

@{
    ViewData["Title"] = "Editar Cita";
}

<h1>Editar Cita</h1>

<form asp-action="EditarCita" method="post">
    <input type="hidden" asp-for="PkAgenda" />

    <label asp-for="NombreCompleto" class="control-label">Nombre del Paciente</label>
    <input asp-for="NombreCompleto" class="form-control" readonly />

    <label asp-for="Cedula" class="control-label">Cédula</label>
    <input asp-for="Cedula" class="form-control" readonly />

    <label asp-for="Servicio" class="control-label">Servicio</label>
    <input asp-for="Servicio" class="form-control" readonly />

    <label asp-for="Tratamiento" class="control-label">Tratamiento</label>
    <input asp-for="Tratamiento" class="form-control" readonly />

    <label asp-for="Fecha" class="control-label">Fecha</label>
    <input asp-for="Fecha" class="form-control" readonly />

    <label asp-for="HoraInicio" class="control-label">Hora</label>
    <input asp-for="HoraInicio" class="form-control" readonly />

    <label asp-for="Estado" class="control-label">Estado</label>
    <textarea asp-for="Estado" class="form-control"></textarea>

    <label asp-for="Detalles" class="control-label">Detalles</label>
    <textarea asp-for="Detalles" class="form-control"></textarea>

    <input type="submit" value="Guardar" class="btn btn-primary" />
</form>
