
/*
    COLORES 
    ROJO TELETON: rgb(231,55,67)
    ROJO TELETON TRANSPARENTE: rgba(231,55,67,.5)
    GRIS:#CED4DA
*/

/*LAYOUT Y GENERALES*/



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html {
    position: relative;
    min-height: 100%;

}



.mensaje {
    margin-top: 20px;
    font-size: 1.8em
}
.hidden {
    display:none;
}

.sinPadding {
padding:0 !important;

}
/*FIN LAYOUT*/
/*LOGIN*/
.contenedorLogin {
    margin: 0 auto;
}

.form-group {
    position: relative;
}

.contenedorLogin label {
    color: #999;
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}
.contenedorLogin input:focus ~ label,
.contenedorLogin input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: gray;
}

.contenedorLogin input[type="text"] {
    background: transparent;
    height: 50px;
}

.contenedorLogin input[type="password"] {
    background: transparent;
    height: 50px;
}

.contenedorLogin input[type="submit"] {
    background-color: rgb(231,55,67);
    color: white;
    font-size: 25px;
}

.contenedorLogin input:focus {
    outline: none;
    border: 1px solid rgba(231,55,67,.5);
}

.contenedorLogin h4 {
    text-align: center;
}

/*FIN LOGIN*/



/*CHAT*/

.chat-header-enviado {
    display: flex;
    justify-content: end;
    width: 100%;
}

.chat-header-recibido {
    display: flex;
    justify-content: start;
    width: 100%;
}

.chat-message {
    background-color: #ff8080;
    border-radius: 8px;
    padding: 10px;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 16px
}
.fechaMensaje {

    font-size:12px
}
#txtMensaje {
    width: 80%;
    overflow: hidden;
    resize: none;
}
.imagenAudio {
    width:50px;
    height:50px;
}

.listadoChats {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.liChats {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
    background-color: #CED4DA;
}

/*FIN CHAT*/

/*TOTEM INDEX*/
.contenedorIndexTotem {
 
   display:flex;
   flex-direction:column;
   height:98vh;
   align-items:center;
   justify-content:center;
   

}

.imagenTeletonRecepcion {


    width:80%;
   
  


}

.imagenCedulaGenerica {
    width: 30%;
    margin-bottom: 60px;
}

.h1Totem {

    color:white;
    font-size:250%;
    text-align:center;
    width:80%
        
   

}

.fondoTotem {
    background-image: url("../images/fondoTotem.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}



#formularioIndexTotem input[type="text"]{
    height:70px;
    font-size:2.1em;
    font-weight:700;
   
}

#formularioIndexTotem input[type="submit"] {
    height: 70px;
    font-size: 2.1em;
    font-weight: 700;
    background-color: rgb(30,30,28);
    margin-top:15px;
    color:white;
}

.btnCerrarSesionTotem {
    position: fixed;
    right: 10px;
    bottom: 10px; 
    font-size: 30px;
}
/*FIN TOTEM INDEX*/


/*TOTEM HOME USUARIO*/


.contenedorListadoHomeUsuario {

    background-color:black;
    height:100vh
}

.listadoNavHomeUsuario {
    


}

.listadoNavHomeUsuario li {
    font-size:1.5em;
    margin-top:50%;
    text-align:center;
   

}
    .listadoNavHomeUsuario a {
        text-decoration:none;
    

    }

.h3HomeUsuario {
    margin-top:20px;
    text-align:center;

}
/*FIN TOTEM HOME USUARIO*/
/*DISPOSITIVOS MOVILES(sm xs)*/
@media screen and (max-width: 767px) {
    /*NAVBAR*/

    .imagenNav {
        width: 40px;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgb(231,55,67);  
        transition: left 0.2s ease;
        z-index: 1050;
    }
    .navbar-toggler {
        z-index: 1051;
        border:none;
    }
    .iconoNavbar {
        border: none;
        font-size: 3rem;
    }

    .show {
        left: 0;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        margin-top:50px;
      

    }

    .nav-item {
        width: 100%;
        text-align: center;
 
      
        
    }
    .navbar-nav a {
        padding-top: 3vh;
        padding-bottom: 2vh;
        border-bottom: 1px solid rgb(140, 15, 24)
    }


    .navbar-nav a:hover {
        background-color: gray;
      
    }



    .nav-link {
        color: white !important;
        font-size: 1.8rem;
        font-weight: bold;
       
    }
    .imagenesNav {
        display: block;
        width: 70px;
        

    }
    /*FIN NAVBAR*/


    /*LOGIN*/
    #logoComputadora {
        display: none;
    }

    #logoMobile {
        display: block;
    }

    .contenedorLogin {
        margin-top: 10vh;
    }

        .contenedorLogin h4 {
            font-size: 1.6em;
            margin-bottom: 5vh !important;
        }

        .contenedorLogin img {
            width: 80%;
        }

    .form-group {
        margin-bottom: 4vh !important;
    }

    .contenedorLogin input {
        border-radius: 18px !important;
    }
    /*FIN LOGIN*/

    /*CHAT*/
    .botoneraChatMobile {
        display:block;
    }

    .contenedorListadoChats {
        display: none;
       
    }
    .contenedorChat {
        display: block;
      
    }
    .botonesChatParaMobile {
        height:50px;

    }
    .chat-message {
        background-color: #ff8080;
        border-radius: 8px;
        padding: 10px;
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        font-size:18px
    }
   
    /*FIN CHAT*/
}


/* TABLETS EN ADELANTE (md lg xl xxl) */
@media screen and (min-width: 768px) {
    .imagenNav {
        width:85px;
    
    }
    /*NAVBAR*/
    .imagenesNav {
        display: none;
    }

    
    .ulNav a li{
        text-align:center;
    }
    /*FIN NAVBAR*/
    /*LOGIN*/
    #logoComputadora {
        display: block;
    }

    #logoMobile {
        display: none;
    }

    .contenedorLogin {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        width: 50%;
        height: 470px;
        margin-top: 10vh;
    }

        .contenedorLogin img {
            width: 80%;
        }

        .contenedorLogin form {
            height: 250px;
        }

        .contenedorLogin h4 {
            border-bottom: 1px solid #CED4DA;
            padding-bottom: 12px;
            font-size: 1.2em;
        }
    /*FIN LOGIN*/

    /*CHAT*/
   

    .botoneraChatMobile {
        display: none;
    }
    .contenedorListadoChats {
        display: block !important;
    }

    .contenedorChat {
        display: block !important;
    }

    /*FIN CHAT*/

}



/*SOLO TABLETS(md)*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    /*LOGIN*/
    .contenedorLogin h4 {
        border-bottom: 1px solid #CED4DA;
        padding-bottom: 12px;
        font-size: 0.9em;
    }
    /*FIN LOGIN*/
}



/* lg xl xxl */
@media screen and (min-width: 992px) {
}
